{% extends "base.html" %}
{% block title %}Chat{% endblock %}

{% block content %}
<h2>Chat</h2>

<div class="card p-3 mb-3">
    {% for msg in messages %}
        <p>
            <strong>{{ msg.sender_name }}:</strong>
            {{ msg.message }}
            <br>
            <small>{{ msg.timestamp }}</small>
        </p>
        <hr>
    {% endfor %}
</div>

<form method="post">
    <input type="text" name="message"
           class="form-control mb-2"
           placeholder="Type your message..."
           required>
    <button class="btn btn-primary">Send</button>
</form>

<a href="{{ url_for('course.student_dashboard' if session.role=='student'
                    else 'course.teacher_dashboard') }}"
   class="btn btn-secondary mt-3">
   Back
</a>
{% endblock %}
