{% extends "base.html" %}
{% block content %}
<h2>Submissions</h2>
<ul>
  {% for s in submissions %}
    <li>
      {{ s.student_name }} - {{ s.timestamp }} -
      {% if s.file_path %}
        <a href="/{{ s.file_path }}">Download</a>
      {% endif %}
      {% if s.grade %}
        | Grade: {{ s.grade }} ({{ s.feedback }})
      {% else %}
        | <a href="{{ url_for('assignment.grade_submission', submission_id=s.submission_id) }}">Grade</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endblock %}